body {
	background-color: #000000;
    background-image: url(img/acn_logo.jpg);
    background-size: 700px auto;
    background-repeat: no-repeat;
    background-position-x: center;
	color:white;
	padding:0px;
	height: 100%;
    background-position-y: center;
}

#main-content {
	width: 100%;
}

#seperator{
	height:4px;
	width:100%;
	background-color:#F0F3F4;
	margin-top:20px;
	margin-bottom:20px;
}

.userNameWelcome{
	font-size: 5em;
	text-align: center;
}

.toDoListBox{
	float:left;
}

.emailBox{
	float:right;
}

table , tr , td, th {
	border-top:0px solid black !important;
	border-bottom:0px solid black !important;
	font-size:1.2em;
}

.width100{
	widows:100%;
}

.notificationIcon{
	width:80px;
}

.coinIcon{
	width:80px;
	margin-left:10px;
}

.footer{
	position: fixed;
	bottom: 0;
	width: 100%;
}

.notificationCircle{
background-color: white;
    color: black;
    padding: 4px 14px;
    border-radius: 28px;
    font-weight: bold;
    font-size: 1.2em;
}

#weatherDescription {
	text-transform: capitalize;
	font-size: 2em;
}

#weatherLocationAndTempature{
	font-size: 3em;
    padding-left: 15px;
}

#weatherIcon{
	width: 80px;
}

#dateTime{
	font-size:3em;
	padding-left: 13px;
}

.rightBox{
	text-align:right;
}

.bitcoinPercent{
	font-size:1.1em;
}
.coinPrice{
	margin-bottom: 5px;
    padding-left: 15px;
    padding-right: 7px;
	font-size: 1.3em;
}